<div id="static-vid-div" class="video-container">
  <video src="/assets/vid1.mp4" class="static-index-video" onloadedmetadata="this.muted = true" playsinline autoplay muted loop></video>

  <div id="flip-parent-div">
    <div class="text">
      <p class="flip-p">Hello I am</p>
      <p class="flip-p">
        <span class="word">well_rounded</span>
        <span class="word">a_full_stack_developer</span>
        <span class="word">an_active_learner</span>
        <span class="word">a_problem_solver</span>
        <span class="word">passionate</span>
        <span class="word">open_minded</span>
      </p>
    </div>
  </div>
</div>

<div id="static-index-container">

  <div id="about-me-div" class="content">
    <div>
      <h1 class="sec-title line-through">About me</h1>

      <p class="about-me-txt">
        My name is Juan Martinez and I am full stack developer. I started my web developement journey at <a href="https://www.theodinproject.com/" target="blank">The Odin Project</a>. There I learned the basics of HTML and CSS. As a result I found that I really enjoyed what I was doing and so I continued through the curriculum where I learned many new and exciting concepts. Some quick hightlights I would like to mention are Javascript, Git, Ruby, and Ruby on Rails. With these skills I built projects small, medium, and large. I'm not stopping here either I am looking to expand my skill set further. One technology i'm currently working on is react.js.
      </p>
    </div>

    <div id="am-code-div">
      <h1 id="am-code" class="am-text"></h1><h1 id="text-blinker" class="am-text">|</h1>
    </div>

  </div>

  <div id="skills-container" class="content">
    <h1 id="skills-title" class="sec-title line-through">Skills</h1>

    <div class="skills-tile-div">

      <div class="card-flip">
        <div id="html-tile" class="background-image card-front"></div>

        <div class="card-back">HTML</div>

        <p class="bottom-label">HTML</p>
      </div>
    
      <div class="card-flip">
        <div id="css-tile" class="background-image card-front"></div>

        <div class="card-back">CSS</div>

        <p class="bottom-label">CSS</p>
      </div>

      <div class="card-flip">
        <div id="scss-tile" class="background-image card-front"></div>

        <div class="card-back">SCSS</div>

        <p class="bottom-label">SCSS</p>
      </div>

      <div class="card-flip">
        <div id="bootstrap-tile" class="background-image card-front"></div>

        <div class="card-back">Bootstrap</div>

        <p class="bottom-label">Bootstrap</p>
      </div>
      
      <div class="card-flip">
        <div id="js-tile" class="background-image card-front"></div>

        <div class="card-back">Javascript</div>

        <p class="bottom-label">Javascript</p>
      </div>

      <div class="card-flip">
        <div id="ruby-tile" class="background-image card-front"></div>

        <div class="card-back">Ruby</div>

        <p class="bottom-label">Ruby</p>
      </div>

      <div class="card-flip">
        <div id="rails-tile" class="background-image card-front"></div>

        <div class="card-back">Rails</div>

        <p class="bottom-label">Rails</p>
      </div>

      <div class="card-flip">
        <div id="jest-tile" class="background-image card-front"></div>

        <div class="card-back">Jest</div>

        <p class="bottom-label">Jest</p>
      </div>

      <div class="card-flip">
        <div id="git-tile" class="background-image card-front"></div>

        <div class="card-back">Git</div>

        <p class="bottom-label">Git</p>
      </div>

      <div class="card-flip">
        <div id="github-tile" class="background-image card-front"></div>

        <div class="card-back">Github</div>

        <p class="bottom-label">Github</p>
      </div>

      <div class="card-flip">
        <div id="heroku-tile" class="background-image card-front"></div>

        <div class="card-back">Heroku</div>

        <p class="bottom-label">Heroku</p>
      </div>

      <div class="card-flip">
        <div id="webpack-tile" class="background-image card-front"></div>

        <div class="card-back">Webpack</div>

        <p class="bottom-label">Webpack</p>
      </div>

      <div class="card-flip">
        <div id="npm-tile" class="background-image card-front"></div>

        <div class="card-back">NPM</div>

        <p class="bottom-label">NPM</p>
      </div>

      <div class="card-flip">
        <div id="yarn-tile" class="background-image card-front"></div>

        <div class="card-back">Yarn</div>

        <p class="bottom-label">Yarn</p>
      </div>

    </div>

    <h1 id="skills-title" class="sec-title line-through">What I'm learning</h1>

    <div class="skills-tile-div">
      <div class="card-flip">
        <div id="react-tile" class="background-image card-front"></div>

        <div class="card-back">React</div>

        <p class="bottom-label">React</p>
      </div>
    </div>
  </div>

  <div id="projects-container" class="content">
    <h1 id="projects-title" class="sec-title line-through">Projects</h1>

    <div id="project-grid">

      <% Project.all.each do |project| %>

        <div class="project-div">
          <div style="background-image: url('<%= asset_path("/assets/projects/" + project.image) %>')" class="project-image background-image"></div>

          <div class="proj-txt-div">
            <h1 class="project-title line-through"><%= project.title %></h1>
            <p class="project-desc"><%= project.description %></p>

            <%
              tags = project.tags.split(", ")
            %>

            <div class="tags-div">
              <% tags.each do |tag| %>

                <% if tag === "Javascript" %>
                  <p class="project-tag" style="background-color: rgb(172, 152, 0);"><%= tag %></p>
                <% elsif tag === "Rails" %>
                  <p class="project-tag" style="background-color: rgb(143, 0, 10);"><%= tag %></p>
                <% elsif tag === "React" %>
                  <p class="project-tag" style="background-color: rgb(0, 159, 199);"><%= tag %></p>
                <% elsif tag === "SCSS" %>
                  <p class="project-tag" style="background-color: rgb(213, 111, 164);"><%= tag %></p>
                <% elsif tag === "CSS" %>
                  <p class="project-tag" style="background-color: rgb(2, 119, 189);"><%= tag %></p>
                <% elsif tag === "Jest" %>
                  <p class="project-tag" style="background-color: rgb(204, 70, 21);"><%= tag %></p>
                <% else %>
                  <p class="project-tag"><%= tag %></p>
                <% end %>

              <% end %>
            </div>

            <div class="project-links-div">
              <a href="<%= project.github %>" target="blank" class="project-link">Code</a>

              <% if project.live === "Soon" %>
                <p class="project-soon">Soon</p>
              <% else %>
                <a href="<%=project.live %>" target="blank" class="project-link">Visit</a>
              <% end %>
            </div>
          </div>
        </div>

      <% end %>
      
    </div>
  </div>

  <div id="contact-container" class="content">
    <div class="dark-blur"></div>

    <h1 class="contact-title line-through">Contact me</h1>
    <p class="contact-text">Interested in working together or have questions?</p>
    <p class="contact-text">jmartinezdev6784@gmail.com</p>
  </div>

</div>