<div id="projects-parent-div">

  <div id="project-grid">

    <% Project.all.each do |project| %>

      <div id="proj-index-color" class="project-div">
        <div style="background-image: url('<%= asset_path("/assets/projects/" + project.image) %>')" class="project-image background-image"></div>

        <div class="proj-txt-div">
          <h1 class="project-title line-through"><%= project.title %></h1>
          <p class="project-desc"><%= project.description %></p>

          <%
            tags = project.tags.split(", ")
          %>

          <div class="tags-div">
            <% tags.each do |tag| %>

              <% if tag === "Javascript" %>
                <p class="project-tag" style="background-color: rgb(172, 152, 0);"><%= tag %></p>
              <% elsif tag === "Rails" %>
                <p class="project-tag" style="background-color: rgb(143, 0, 10);"><%= tag %></p>
              <% elsif tag === "React" %>
                <p class="project-tag" style="background-color: rgb(0, 159, 199);"><%= tag %></p>
              <% elsif tag === "SCSS" %>
                <p class="project-tag" style="background-color: rgb(213, 111, 164);"><%= tag %></p>
              <% elsif tag === "CSS" %>
                <p class="project-tag" style="background-color: rgb(2, 119, 189);"><%= tag %></p>
              <% elsif tag === "Jest" %>
                <p class="project-tag" style="background-color: rgb(204, 70, 21);"><%= tag %></p>
              <% else %>
                <p class="project-tag"><%= tag %></p>
              <% end %>

            <% end %>
          </div>

          <div class="project-links-div">
            <a href="<%= project.github %>" target="blank" class="project-link">Code</a>

            <% if project.live === "Soon" %>
              <p class="project-soon">Soon</p>
            <% else %>
              <a href="<%=project.live %>" target="blank" class="project-link">Visit</a>
            <% end %>
          </div>
        </div>
      </div>

    <% end %>
    
  </div>

</div>